<!DOCTYPE html>
<html>
<head>
    <title>Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_table.css') }}">
</head>
<body>
    <h2>PATIENT RECORDS</h2>
    <table>
        <thead>
            <tr>
                <th>PatientID</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>County</th>
                <th id="age">DoB</th>
            </tr>
        </thead>
        <tbody>
            {% for row in records %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>